 /* Fullscreen Setup */
body {
    margin: 0;
    overflow: hidden;
    font-family: "Arial", sans-serif;
    background-color: black;
}

/* Background Container */
.background-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

/* H1 Styling */
/*h1{ 
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 15px;
    margin-top: 2px;
    text-align: center;
    background: linear-gradient(90deg, #ff416c, #ff4b2b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
*/
/* Moving Background (Right to Left) */
.background-moving {
    position: absolute;
    width: 500vw; /* Extended width for smooth animation */
    height: 400vh;
    background: url('assets/white.jpg') repeat-x center/cover;
    animation: scrollRightToLeft 15s linear infinite;
}

/* Foreground Moving (Moves at Same Speed) */
.foreground-moving {
    position: absolute;
    width: 300vw;
    height: 100vh;
    background: url('assets/Ramadan@.jpg') repeat-x center/contain;
    animation: scrollRightToLeft 15s linear infinite;
}

/* Right to Left Animation */
@keyframes scrollRightToLeft {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}

/* Centered Text Container */

.message-container {
    position: absolute;
    bottom: 20px; /* Adjust the distance from the bottom */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    cursor: pointer;
    max-width: 80%;
    display: ruby-base-container;
}

.word {
    font-weight: bold;
    font-size: 16px;
    color:lightbeige;
    padding: 3px 3px;
    display: inline-block; /* Correct display */
    transition: transform 0.10s ease-in-out, opacity 0.6s ease-in-out;
    margin: 2caps;

    
}
